@if (Model != null)
{
    <div class="budgets">
        @if (Model.lstBudget != null && Model.lstBudget.Count > 0)
        {
            foreach (var item in Model.lstBudget)
            {
                <BudgetCardPage Budget="item" />
            }
        }
    </div>
    @if (Model != null)
    {
        @*<PaginationPage OnPageClick="BudgetData" Model="
            new PaginationResponseDataModel
            { 
                CurrentPageNo = Model.CurrentPageNo, 
                RowCount = Model.RowCount, 
                TotalPageNo = Model.TotalPageNo,
                TotalRowCount= Model.TotalRowCount 
            }" />*@

        <MudPagination SelectedChanged="PageChanged" ShowFirstButton="true" ShowLastButton="true" Count="Model.TotalPageNo" Class="mt-4" />
    }
}
@code {
    [Parameter]
    public BudgetResponseDataModel Model { get; set; }

    async Task PageChanged(int pageNo)
    {
        var result = await db.BudgetPagination(pageNo, 4);
        Model = result;
    }

    //void BudgetNext(int pageNo)
    //{
    //    BudgetData(pageNo);
    //}

    //void BudgetPrevious(int pageNo)
    //{
    //    BudgetData(pageNo == 0 ? 1 : pageNo);
    //}
}
